@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
:root {
    --bluegray:#1f2e4e;
    --blue:#2980b9;
    --lgray:#747d8c;
    --afwhite:#f1f2f6;
    --white:#fff;
    --opblack:rgba(0,0,0,.5);
    --black:rgba(0,0,0);
}
a{text-decoration:none;}
::selection {background-color:rgba(110, 110, 110, 0.5);}
body {
    overflow-x:hidden;
    overflow-y:hidden;
}

#bg {
    position:absolute;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background-color:var(--bluegray);
    z-index:-1;
}

#frame {
    position:absolute;
    z-index:1;
    top:3%;
    width:100vw;
    box-shadow:0px 0px 2px 2px rgb(221, 221, 221);
    left:-200%;
    animation:frame1join 1s forwards;
    -webkit-animation:frame1join 1s forwards;
    -moz-animation:frame1join 1s forwards;

}

@keyframes frame1join {0%{left:-200%;}100%{left:0%;}}
@-webkit-keyframes frame1join {0%{left:-200%;}100%{left:0%;}}
@-moz-keyframes frame1join {0%{left:-200%;}100%{left:0%;}}

#frame2 {
    position:absolute;
    z-index:1;
    top:97%;
    width:100vw;
    box-shadow:0px 0px 2px 2px rgb(221, 221, 221);
    right:-200%;
    animation:frame2join 1s forwards;
    -webkit-animation:frame2join 1s forwards;
    -moz-animation:frame2join 1s forwards;
}

@keyframes frame2join {0%{right:-200%;}100%{right:0%;}}
@-webkit-keyframes frame2join {0%{right:-200%;}100%{right:0%;}}
@-moz-keyframes frame2join {0%{right:-200%;}100%{right:0%;}}

/*first visible elements */

#ski {
    position:absolute;
    z-index:1;
    width:700px;/*700*/
    height:90%;
    top:5%;
    right:0;
    /*prevent*/
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    pointer-events:none;
    -webkit-user-drag: none;
    opacity:0;
    animation-delay:1s!important;
    animation:mejoin .8s forwards;
    -webkit-animation-delay:1s!important;
    -webkit-animation:mejoin .8s forwards; 
    -moz-animation-delay:1s!important;
    -moz-animation:mejoin .8s forwards; 
}

@keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}
@-webkit-keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}
@-moz-keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}

#over {
    position:absolute;
    z-index:0;
    width:70vw;
    height:90%;
    border-radius:10% 0% 0% 10%;
    background: rgba(41, 41, 41, 0.7);
    right:200%;
    top:5%;
    animation-delay:1s!important;
    animation:olayjoin .8s forwards;
    -webkit-animation-delay:1s!important;
    -webkit-animation:olayjoin .8s forwards;
    -moz-animation-delay:1s!important;
    -moz-animation:olayjoin .8s forwards;
}

@keyframes olayjoin {0%{right:100%;}100% {right:700px;}}
@-webkit-keyframes olayjoin {0%{right:100%;}100% {right:700px;}}
@-moz-keyframes olayjoin {0%{right:100%;}100% {right:700px;}}





