@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
/*tommorow
email replace one menu item
somewhere social media  
*/
:root {
    --bluegray:#1f2e4e;
    --blue:#2980b9;
    --lgray:#747d8c;
    --afwhite:#f1f2f6;
    --white:#fff;
    --opblack:rgba(0,0,0,.5);
    --black:rgba(0,0,0);
}
a{text-decoration:none;}
::selection {background-color:rgba(110, 110, 110, 0.5);}

#bg {
    position:absolute;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    background-color:var(--bluegray);
    z-index:-1;
}

#frame {
    position:absolute;
    z-index:1;
    top:3%;
    width:100vw;
    box-shadow:0px 0px 2px 2px rgb(221, 221, 221);
    left:-200%;
    animation:frame1join 1s forwards;
    -webkit-animation:frame1join 1s forwards;
    -moz-animation:frame1join 1s forwards;

}

@keyframes frame1join {0%{left:-200%;}100%{left:0%;}}
@-webkit-keyframes frame1join {0%{left:-200%;}100%{left:0%;}}
@-moz-keyframes frame1join {0%{left:-200%;}100%{left:0%;}}


#frame2 {
    position:absolute;
    z-index:1;
    top:97%;
    width:100vw;
    box-shadow:0px 0px 2px 2px rgb(221, 221, 221);
    right:-200%;
    animation:frame2join 1s forwards;
    -webkit-animation:frame2join 1s forwards;
    -moz-animation:frame2join 1s forwards;

}

@keyframes frame2join {0%{right:-200%;}100%{right:0%;}}
@-webkit-keyframes frame2join {0%{right:-200%;}100%{right:0%;}}
@-moz-keyframes frame2join {0%{right:-200%;}100%{right:0%;}}


/*first visible elements */

#ski {
    position:absolute;
    z-index:1;
    width:700px;
    height:90%;
    top:5%;
    right:0;
    /*prevent*/
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    pointer-events:none;
    -webkit-user-drag: none;
    opacity:0;
    animation-delay:1s!important;
    animation:mejoin .8s forwards;
    -webkit-animation-delay:1s!important;
    -webkit-animation:mejoin .8s forwards; 
    -moz-animation-delay:1s!important;
    -moz-animation:mejoin .8s forwards; 
}

@keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}
@-webkit-keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}
@-moz-keyframes mejoin {
    0%{width:0px;opacity:0;}
    100%{width:700px;opacity:1;}
}

/*nav*/

#nav {
    position:absolute;
    list-style:none;
    z-index:1;
    top:15%;
    left:0%;
    right:80%;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
}

#nav .li:first-of-type {
    margin-top:0px;
    animation-delay:3.5s!important;
}

#nav .li:not(:first-of-type) {
    margin-top:30px;
    animation-delay:4s!important;

}

#nav .li {
    margin-left:-500px;
    font-family: 'Staatliches', cursive;
    font-size:45px;
    color:rgba(255,255,255,.95);
    letter-spacing:4.5px;
    text-shadow:2.8px -.5px 0px #000;
    font-weight:900;
    transition-duration:1s;
    animation:naveljoin .4s forwards;
    -webkit-animation:naveljoin .4s forwards;
    -moz-animation:naveljoin .4s forwards;

}

#nav .li:hover {
    transition-duration:.35s;
    cursor:pointer;
    color:#1e90ff;
    text-shadow:2.8px .5px 0px rgb(255,255,255); 
}

@keyframes naveljoin {
    0%{margin-left:-500px;}
    100%{margin-left:20px;}
}
@-webkit-keyframes naveljoin {
    0%{margin-left:-500px;}
    100%{margin-left:20px;}
}
@-moz-keyframes naveljoin {
    0%{margin-left:-500px;}
    100%{margin-left:20px;}
}

#contact {
    /*265width*/
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
#mail {
    white-space:nowrap;
    width:0px;
    color:transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:25px;
    font-weight:500;
    letter-spacing:3px;
    text-shadow:none;
    margin-bottom:50px;
    border:none;
    padding:0px;
}

/*nav end*/

#over {
    position:absolute;
    z-index:0;
    width:70vw;
    height:90%;
    border-radius:10% 0% 0% 10%;
    background: rgb(70,70,70); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(31, 31, 31, 0.4) 0%, rgba(114, 114, 114, 0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(31, 31, 31, 0.4) 0%,rgba(114, 114, 114, 0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(31, 31, 31, 0.4) 0%,rgba(114, 114, 114, 0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#464646', endColorstr='#fffffd',GradientType=0 );
    right:200%;
    top:5%;
    animation-delay:1s!important;
    animation:olayjoin .8s forwards;
    -webkit-animation-delay:1s!important;
    -webkit-animation:olayjoin .8s forwards;
    -moz-animation-delay:1s!important;
    -moz-animation:olayjoin .8s forwards;
}

@keyframes olayjoin {0%{right:100%;}100% {right:700px;}}
@-webkit-keyframes olayjoin {0%{right:100%;}100% {right:700px;}}
@-moz-keyframes olayjoin {0%{right:100%;}100% {right:700px;}}

#aboutme {
    position:absolute;
    top:15%;
    right:670px;
    font-size:25px;
    width:770px;
    height:0px;
    color:#fff;
    line-height:45px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:2px;
    background-color:rgba(8, 8, 8, 0.9);
    padding:35px 20px 55px 20px;
    opacity:0;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    animation-delay:1.8s!important;
    animation:aboutmejoin 2s forwards;
    -webkit-animation-delay:1.8s!important;
    -webkit-animation:aboutmejoin 2s forwards;
    -moz-animation-delay:1.8s!important;
    -moz-animation:aboutmejoin 2s forwards;
    z-index:3;
}

br {
    line-height:40px;
}

@keyframes aboutmejoin {
    0%{
        opacity:0;
        height:0px!important;
        padding-top:0px!important;
        padding-bottom:0px!important;
        white-space: wrap;
        overflow: hidden;
    }
    100%{
        opacity:1;
        height:520px;
        padding:35px 20px 55px 20px;
        white-space: wrap;
        overflow: hidden;
    }
}
@-webkit-keyframes aboutmejoin {
    0%{
        opacity:0;
        height:0px!important;
        padding-top:0px!important;
        padding-bottom:0px!important;
        white-space: wrap;
        overflow: hidden;
    }
    100%{
        opacity:1;
        height:520px;
        padding:35px 20px 50px 20px;
        white-space: wrap;
        overflow: hidden;
    }
}
@-moz-keyframes aboutmejoin {
    0%{
        opacity:0;
        height:0px!important;
        padding-top:0px!important;
        padding-bottom:0px!important;
        white-space: wrap;
        overflow: hidden;
    }
    100%{
        opacity:1;
        height:520px;
        padding:35px 20px 55px 20px;
        white-space: wrap;
        overflow: hidden;
    }
}

#projects {
    height:100%;
    text-align:left;
}

.project {
    width:50%;
    font-size:20px;
    padding:25px 0 0 15px;
    display:inline-block!important;

}

.folder::before {
    content: "\f07b";
    font-family: 'Font Awesome\ 5 Free';
    font-size:25px;
    font-weight:500;
    padding-right:4px;
    color:#ccc;
}

.folder.change::before {
    content: "\f07c";
    animation:change .3s forwards;
}

@keyframes change {
    0%{
        content: "\f07b";  
        
    }

    50%{
        content: "\f07b";  
        filter:blur(50px);


    }
    60%{
        content: "\f07c";
        transform:scale(.1);
        color:#00a8ff;
        filter:blur(50px);

    }

    100%{
        content: "\f07c";
        transform:scale(1);
        color:#00a8ff;
        filter:blur(0px);

    }
}

.link {
    color:#00a8ff;
}

.link.op {
    transition-duration:.7s;
    color:#ccc;

}



  
  
