/*reset desktop elements*/
@media (max-width:30rem) {
    a{text-decoration:none;}
    body {
        overflow-x:visible;
        overflow-y:visible;
    }
    #bg {
        display:none;
    } 
    #frame {
        display:none;
    }
    #frame2 {
        display:none!important;
    }    
    #ski {
        display:none;
    }
    #over {
        display:none;
    }
    #aboutme {
        display:none;
    }
    br {
        line-height:0px;
    }
    #logo {
        display:none;
    }
    #logo svg  {
        display:none;
    }
    #procontainer {
        display:none;
    }
    #projects {
        display:none;
    }
    .folder::before {
        display:none;
    }
    .link {
        display:none;
    }
    #sites {
        display:none;
    }
    #nav {
        display:none;
    }
    #nav .li {
        display:none;

    }    
    #mail {
        display:none;
    }
    
}

/*phone styles*/
@media (min-width:30rem) {
    /*Begining of mobile elems*/

    #mo-bg1 {
        display:none;
    }
    #underbg1 {
        display:none;
    }
    #mo-bg2 {
        display:none;
    }
    #mo-ski {
        display:none;
    }
    .header {
        display:none;
    }
    #scroll {
        display:none;
    }
    #bg3 {
        display:none;
    }

}