#nav {
    position:absolute;
    list-style:none;
    top:7%;
    left:1%;
    right:80%;
    user-select:none;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none;
    text-align:center;
    padding-top:25px;
    width:270px;
    z-index:10;
}

#nav .li:first-of-type {
    margin-top:0px;
    animation-delay:3.5s!important;
}

#nav .li:not(:first-of-type) {
    margin-top:30px;
    animation-delay:4s!important;

}

#nav .li {
    margin-left:-800px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:30px;
    color:rgba(93, 241, 252, 0.95);
    letter-spacing:2.5px;
    text-shadow:2.8px -.5px 0px #000;
    transition-duration:.5s;
    animation:naveljoin .4s forwards;
    -webkit-animation:naveljoin .4s forwards;
    -moz-animation:naveljoin .4s forwards;
}

#nav .li:hover {
    transition-duration:.2s;
    cursor:pointer;
    color:#c7c7c7;
    text-shadow:1.4px 1.5px 0px rgba(17, 17, 17, 0.8); 
    transform:scale(1.2);
}

@keyframes naveljoin {
    0%{margin-left:-800px;}
    100%{margin-left:20px;}
}
@-webkit-keyframes naveljoin {
    0%{margin-left:-800px;}
    100%{margin-left:20px;}
}
@-moz-keyframes naveljoin {
    0%{margin-left:-800px;}
    100%{margin-left:20px;}
}

#contact {
    /*265width*/
}

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
#mail {
    white-space:nowrap;
    width:0px;
    color:transparent;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:25px;
    font-weight:500;
    letter-spacing:3px;
    text-shadow:none;
    margin-bottom:50px;
    border:none;
    padding:0px;
}
