#logo {
    position:absolute;
    z-index:11;
    top:5%;
    right:0%;
}

#logo svg  {
    width:200px;
    animation:leave .3s forwards;
}

#logo svg.leave  {
    width:200px;
    animation:leave .3s forwards;
}
@keyframes leave {
    0% {
        width:200px;

    }

    100% {
        width:0px;
        right:-100px;
        display:none;

    }
}

#logo svg {
    width:0px;
    height:200px;
    background-color:rgba(228, 227, 227, 0.5);
    animation-delay:2.7s!important;
    animation:svgsize .4s forwards;
}

@keyframes svgsize {
    0% {
        width:0px;
    }

    100% {
        width:210px;
    }
}

#logo svg #first {
    animation-delay:3.3s!important;
    fill-opacity: 0;
    animation:svg .4s forwards;
}

@keyframes svg {
    0% {
        fill-opacity: 0;
    }

    100% {
        fill-opacity: 1;
    }
}

#logo svg #sec {
    animation-delay:3.6s!important;
    fill-opacity: 0;
    animation:svg .4s forwards;
}

#logo svg #third {
    animation-delay:3.8s!important;
    fill-opacity: 0;
    animation:svg 1s forwards;
}