Options +MultiViews
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?skino0\.com
RewriteRule ^(.*)$ https://skino0.com/$1 [R,L]
RewriteCond %{index.html} !-d
RewriteCond %{index.html} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

